# Hello!

This is a test post.

In [4]:
import pandas as pd
import numpy as np
np.random.seed(123)

In [5]:
df = pd.DataFrame({
    'x':np.random.randint(0, 10, 5),
    'y':np.random.randint(100, 200, 5)
})

In [6]:
df

   x    y
0  2  157
1  2  186
2  6  197
3  1  196
4  3  147