# Hello!

This is a test notebook.

In [3]:
import pandas as pd
import numpy as np

In [4]:
np.random.randint?

In [5]:
df = pd.DataFrame({
    'a':np.random.randint(0, 101, 10)
})

In [6]:
df

    a
0  51
1  76
2  46
3  90
4  91
5  17
6  26
7  52
8  22
9  27