# Hello!

This is a test notebook.

In [3]:
import pandas as pd
import numpy as np

In [4]:
np.random.randint?

In [15]:
df = pd.DataFrame({
    'a':np.random.randint(0, 101, 5),
    'b':np.random.choice(['bob', 'jim'], 5)
})
df

    a    b
0  18  bob
1  83  bob
2  96  jim
3  20  bob
4  25  bob